[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyabif = {editable = true, path = "."}

[dev-packages]
coverage = "*"
pytest = "*"
pyabif = {editable = true, path = "."}

[requires]
python_version = "3.8"
